<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Shubham Shinde's Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">
  
</head>
  <body>
    <nav class="navbar navbar-default header-bg-color">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">Shubham's Blog</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home" class="color-nav"><a href="/">HOME</a></li>
          <li id="about" class="color-nav"><a href="/about">ABOUT US</a></li>
          <li id="contact" class="color-nav"><a href="/contact">CONTACT US</a></li>
        </ul>
      </div>
    </nav>
    <div >
