<%- include("partials/header"); -%>
<!-- <div class="bg-img"> -->
  <!-- <img
    src="https://images.unsplash.com/photo-1486072889922-9aea1fc0a34d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bW91dGFpbnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60"
    alt="" srcset="" > -->
<!-- </div> -->
<div class="three-divs">
  <div class="first-img">
    <img src="../flowers.png" alt="">
  </div>
  <div class="page">
    <h1>
      <%=title%>
    </h1>
    <p>
      <%=content%>
    </p>
  </div>
  
  <div class="second-img">
    <img src="../flowers.png" alt="">
  </div>
</div>

<%- include("partials/footer"); -%>
